#
# Generic cpuhotplug and touchboost drivers configuration
#

menu "CPU Hotplug and touchboost scaling"

config SPRD_CPU_HOTPLUG_GOV
	bool "SPRD CPU hotplug policy"
	depends on HOTPLUG_CPU
        help
          SPRD CPU hotplug policy.
	  And this driver change core number
	  on the basis of load on cpus.

	  Note that this driver will change the num of
	  CPU cores.

	  If in doubt, say N.

endmenu
