config DRM_SPRD_GSP
	bool "SPRD DRM GSP driver"
	depends on ARCH_SPRD
	depends on (ION_SPRD_STAGING || ION_SPRD)
	depends on DRM_SPRD
	---help---
	  GSP is hardware which not only can compose multiple layers
	  but also can transform and scale layers.
