
menu "Sipa System Modules"

config SPRD_IPA_SYS
	tristate "Spreadtrum Ipa Sys Power Management"
	default n
	select PM_GENERIC_DOMAINS if PM
	help
	  Sipa sys is a module that manages ipa low power.
	  When you select this feature, it will enable the pm generic
	  power domain for ipa_sys module.

endmenu
