#
# Spreadtrum pin control drivers
#

config PINCTRL_SPRD
	bool "Spreadtrum pinctrl driver"
	depends on OF
	depends on ARCH_SPRD || COMPILE_TEST
	select PINMUX
	select PINCONF
	select GENERIC_PINCONF
	select GENERIC_PINMUX_FUNCTIONS
	help
	  Say Y here to enable Spreadtrum pinctrl driver

config PINCTRL_SPRD_SC9860
	bool "Spreadtrum SC9860 pinctrl driver"
	depends on PINCTRL_SPRD
	help
	  Say Y here to enable Spreadtrum SC9860 pinctrl driver

config PINCTRL_SPRD_SHARKL5
        bool "Spreadtrum Sharkl5 pinctrl driver"
        depends on PINCTRL_SPRD
        help
          Say Y here to enable Spreadtrum Sharkl5 pinctrl driver

config PINCTRL_SPRD_ROC1
	bool "Spreadtrum Roc1 pinctrl driver"
	depends on PINCTRL_SPRD
	help
	  Say Y here to enable Spreadtrum Roc1 pinctrl driver

config PINCTRL_SPRD_SHARKL3
	bool "Spreadtrum Sharkl3 pinctrl driver"
	depends on PINCTRL_SPRD
	help
	  Say Y here to enable Spreadtrum Sharkl3 pinctrl driver

config PINCTRL_SPRD_ORCA
	bool "Spreadtrum Orca pinctrl driver"
	depends on PINCTRL_SPRD
	help
	  Say Y here to enable Spreadtrum Orca pinctrl driver

config PINCTRL_SPRD_SHARKL5PRO
	bool "Spreadtrum Sharkl5Pro pinctrl driver"
	depends on PINCTRL_SPRD
	help
	  Say Y here to enable Spreadtrum Sharkl5Pro pinctrl driver

config PINCTRL_SPRD_PIKE2
	bool "Spreadtrum Pike2 pinctrl driver"
	depends on PINCTRL_SPRD
	help
	  Say Y here to enable Spreadtrum Pike2 pinctrl driver

config PINCTRL_SPRD_SHARKLE
	bool "Spreadtrum Sharkle pinctrl driver"
	depends on PINCTRL_SPRD
	help
	  Say Y here to enable Spreadtrum Sharkle pinctrl driver
